@model IEnumerable<User>

<div class="container">
    <div class="row">
        <h1>Hi</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Actions</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach(User user in Model){
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                        <td>
                            <a class="btn btn-light" asp-controller="Admin" asp-action="ViewUserDetails" asp-route-id="@user.Id">View User Details</a>
                            <a class="btn btn-warning" asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id">Edit User Details</a>
                        </td>
                        <td>
                            <form asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-danger">
                                    Delete User
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>