@model IEnumerable<User>

    <div class="container">
        <div class="row">
            <h1>Hi</h1>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th># of Accounts</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(User user in Model){
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.Account.Count()</td>
                            <td>
                                <a class="btn btn-light" asp-controller="Manager" asp-action="ViewUserDetails" asp-route-id="@user.Id">View User Details</a>
                                <a class="btn btn-warning" asp-controller="Manager" asp-action="EditUser" asp-route-id="@user.Id">Edit User Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>