@model User

<div>
    <h2>Welcome @Model.FirstName</h2>
    <div class="row">
        @foreach(var act in @ViewBag.accounts){
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@act.TypeOfAccount</h5>
                        <p class="card-text">$@act.Amount</p>
                        <a class="btn btn-light" asp-controller="Customer" asp-action="AccountDetails" asp-route-id="@act.Id">View Account Details</a>
                        <a class="btn btn-warning" asp-controller="Customer" asp-action="EditAccount" asp-route-id="@act.Id">Edit Account</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>